
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Properties/PublishProfiles/FolderProfile.pubxml.user
*.bin
*.v2
*.vsidx
.vs/uarm-proceso-sge-backoffice-front/v17/.suo
*.cache
*.props
*.pubxml
*.targets
front.GeneratedMSBuildEditorConfig.editorconfig
*.dll
*.exe
*.pdb
*.txtfront.csproj.BuildWithSkipAnalyzers
front.staticwebassets.runtime.json
.vs/uarm-proceso-sge-backoffice-front/config/applicationhost.config
bin/
obj/