@page
@model MRE.Pages.seguridad.rolModel
@{
}
<script src="~/app/services/service.sistema.js"></script>
<script src="~/app/services/service.rol.js"></script>
<script src="~/app/pages/seguridad/rol.js"></script>

<style>
    .container-fluid {
        width: 100% !important;
    }

    .container {
        width: 100% !important;
    }
</style>

<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="titulo">Mantenimiento Rol <i class="bi-newspaper"></i></h3>
        </div>

    </div>

    <div class="accordion" id="accordionFiltro">
        <div class="card">
            <div class="card-header" id="headingOne">
                <div class="row">
                    <div class="col-md-9   ">
                        <h5 class="mb-0">
                            Búsqueda avanzada
                            <button class="btn btn-light btn-sm " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="bi-arrow-down-square-fill"></i>
                            </button>
                        </h5>
                    </div>
                    <div class="col-md-3 text-end   ">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-danger  btn-sm" title="buscar" id="btnBuscar">
                                <i class="bi-search"></i> Buscar
                            </button>
                            <button class="btn  btn-sm btn-dark" id="btnLimpiar">
                                <i class="bi-arrow-clockwise"></i> Limpiar
                            </button>
                            </div>
                        </div>
                    </div>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFiltro">
                <div class="card-body">
                    <div class="row m-b-a">

                            <div class="col-md-4">
                                <label>Sistema <label style="color:red">(*)</label></label>
                                <select class="form-select" id="ddlSistema"></select>
                            </div>
                            <div class="col-md-4">
                                <label>Nombre</label>
                                <input class="form-control" type="text" id="txtNombreFiltro">
                            </div>
                            <div class="col-md-4">
                                <label>Descripción</label>
                                <input class="form-control" type="text" id="txtDescripcionFiltro">
                            </div>
                    </div>                        
                 </div>
            </div>


            <div class="container-fluid tablelist">
            
                <div class="row listpro">
                    <div class="col-md-6">
                        <h5 class="titwhite">
                            Resultados de búsqueda
                        </h5>
                    </div>
                    <div class="col-md-6 text-end">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-light   mt-2  btn-sm" id="btnAgregar" title="Agregar nuevo">
                                <i class="bi bi-file-earmark-plus-fill"></i> Nuevo Registro
                            </button>
                            </div>
                        </div>
                    </div>
            
                <div class="row">
                    <div class="col-md-12">
                        <table id="grid" class="table table-striped table-hover nowrap" style="width:100%">
                            <thead class="thead-uarm">
                                <tr>

                                    <th>N°</th>
                                    <th>Sistema</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            
            </div>
        </div>
    </div>



    <div class="modal fade" id="modalRegistro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header bg-menu">
                    <h4 class="modal-title" id="mdlTitle">Registrar nuevo</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" title="Cerrar ventana"></button>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <legend> Datos de rol </legend>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Sistema</label>
                                <select class="form-select" id="ddlSistemaAdd"></select>
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" id="flagEdit">
                            <input type="hidden" id="hcodigo">
                            <div class="col-md-12">
                                <label>Nombre</label>
                                <input type="text" class="form-control" id="txtNombre" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Descripción</label>
                                <input type="text" class="form-control" id="txtDescripcion" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Código</label>
                                <input type="text" onkeypress="return soloNumeros(event)" class="form-control" id="txtCodigoRol" />
                            </div>
                        </div>

                    </fieldset>
                       
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnGrabar" class="btn btn-primary"><i class="bi bi-check-lg"></i> Grabar</button>
                    <button type="button" id="btnCerrar" class="btn btn-outline-dark"><i class="bi bi-x-lg"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>