@page
@model MRE.Pages.mantenimiento.calendarioModel
@{
}
<script src="~/app/services/service.anio.js"></script>
<script src="~/app/services/service.calendario.js"></script>
<script src="~/app/services/service.centrocostos.js"></script>
<script src="~/app/pages/mantenimiento/calendario.js"></script>
<script src="~/app/pages/mantenimiento/centrocostos.js"></script>
<style>
    .container-fluid {
        width: 100% !important;
    }

    .container {
        width: 100% !important;
    }
</style>

<div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="titulo">Mantenimiento Calendario de Plazos <i class="bi-newspaper"></i></h3>
        </div>

    </div>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <div class="row">
                    <div class="col-md-9   ">
                        <h5 class="mb-0">
                            Búsqueda avanzada
                            <button class="btn btn-light btn-sm " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="bi-arrow-down-square-fill"></i>
                            </button>
                        </h5>
                    </div>
                    <div class="col-md-3 text-end   ">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-danger  btn-sm" title="buscar" id="btnBuscar">
                                <i class="bi-search"></i> Buscar
                            </button>
                            <button class="btn  btn-sm btn-dark" id="btnLimpiar">
                                <i class="bi-arrow-clockwise"></i> Limpiar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="card-body">
                    <div class="row   m-b-a">
                        <div class="col-md-2">
                            <label>Año de Programación</label>
                            <select id="cboAnioFiltro" class="form-control">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>Centro de Costos </label>
                            <input class="form-control" type="text" id="txtCentroCostosFiltro">
                        </div>
                        <div class="col-md-3">
                            <label>Descripción</label>
                            <input class="form-control" type="text" id="txtDescripcionFiltro">
                        </div>
                        <div class="col-md-3">
                            <label>Estaddo</label>
                            <input class="form-control" type="text" id="txtEstadoFiltro">
                        </div>
                        <div class="col-md-2">
                            <label>Situación</label>
                            <select id="cboSituacionFiltro" class="form-control">
                                <option value="">Todos</option>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid tablelist">
                <div class="row listpro">
                    <div class="col-md-6">
                        <h5 class="titwhite">
                            Resultados de búsqueda
                        </h5>
                    </div>
                    <div class="col-md-6 text-end">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-light   mt-2  btn-sm" id="btnAgregar" title="Agregar nuevo">
                                <i class="bi bi-file-earmark-plus-fill"></i> Nuevo Registro
                            </button>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <table id="grid" class="table table-striped   table-hover nowrap" style="width:100%">
                            <thead class="thead-uarm">
                                <tr>
                                    <th>N°</th>
                                    <th>Año</th>
                                    <th>Mes</th>
                                    <th>Centro Costo</th>
                                    <th>Dependencia</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Estado</th>
                                    <th>Activo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRegistro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header bg-menu">
                    <h4 class="modal-title" id="mdlTitle">Registrar nuevo</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" title="Cerrar ventana"></button>
                </div>
                <div class="modal-body">
                    <fieldset class="border rounded-3 p-3">
                        <legend class="float-none w-auto px-3"> Datos del Calendario de Plazos</legend>
                        <div class="row">
                            <input type="hidden" id="flagEdit">
                            <input type="hidden" id="hcodigo">
                            <div class="col-md-12">
                                <label>Año Presupuestal </label> <label style="color:red">(*)</label>
                                <select id="cboAnio" class="form-select"></select>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <label>Centro de Costos</label><label style="color:red">(*)</label>
                                <select id="cboCentroCosto" class="form-select"></select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label>Meses </label> <label style="color:red">(*)</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">                               

                                <div class="form-check form-check-inline"  >
                                    <input class="form-check-input" type="radio" name="Meses" id="rdbEnero" value="1" checked>
                                    <label class="form-check-label" for="rdbEnero">Enero</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Meses" id="rdbFebrero" value="2">
                                    <label class="form-check-label" for="rdbFebrero">Febrero</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Meses" id="rdbMarzo" value="3" >
                                    <label class="form-check-label" for="rdbMarzo">Marzo</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Meses" id="rdbAbril" value="4">
                                    <label class="form-check-label" for="rdbAbril">Abril</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Meses" id="rdbMayo" value="5">
                                    <label class="form-check-label" for="rdbMayo">Mayo</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Meses" id="rdbJunio" value="6">
                                    <label class="form-check-label" for="rdbJunio">Junio</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Meses" id="rdbJulio" value="7">
                                    <label class="form-check-label" for="rdbJulio">Julio</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Meses" id="rdbAgosto" value="8">
                                    <label class="form-check-label" for="rdbAgosto">Agosto</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Meses" id="rdbSetiembre" value="9">
                                    <label class="form-check-label" for="rdbSetiembre">Setiembre</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Meses" id="rdbOctubre" value="10">
                                    <label class="form-check-label" for="rdbOctubre">Octubre</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Meses" id="rdbNoviembre" value="11">
                                    <label class="form-check-label" for="rdbNoviembre">Noviembre</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Meses" id="rdbDiciembre" value="12">
                                    <label class="form-check-label" for="rdbDiciembre">Diciembre</label>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Fecha Inicio</label>
                                <input type="date" class="form-control" id="txtFechaInicio" />
                            </div>
                            <div class="col-md-4">
                                <label>Fecha Fin</label>
                                <input type="date" class="form-control" id="txtFechaFin" />
                            </div>
                        </div>
                        <div class="row">
                            
                        </div>
                       @*  <div class="row">
                            <div class="col-md-12">
                                <label>Descripción </label><label style="color:red">(*)</label>
                                <input type="text" class="form-control" id="txtDescripcion" />
                            </div>
                        </div> *@
                        <div class="row">
                            <div class="col-md-12">
                                <label>Estado </label>
                                <input type="text" class="form-control" id="txtEstado" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Activo</label>
                                <select id="cboActivo" class="form-select">
                                    <option value="1">SÍ</option>
                                    <option value="0">NO</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px">
                            <br />
                            <label style="color:red">Datos Obligatorios (*)</label>
                        </div>
                    </fieldset>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnGrabar" class="btn btn-primary"><i class="bi bi-check-lg"></i> Grabar</button>
                    <button type="button" id="btnCerrar" class="btn btn-outline-dark"><i class="bi bi-x-lg"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>